<!DOCTYPE html>

{% extends "example_app/base.html" %}

    {% block body_block %}

        <body>

            <h1>Hello this is a test page</h1>

            <h2>{{ insert_content }}</h2>

            <h1>Level two MTV Paradigm</h1>

            <h2>Here are the access records:</h2>

            <div class="djangtwo">
                {% if access_records %}
                    <table>
                        <thead>
                            <th>Site Name</th>
                            <th>Date Accessed</th>
                        </thead>


                    {% for acc in access_records %}

                        <tr>
                            <td>{{ acc.name }}</td>
                            <td>{{ acc.date }}</td>
                        </tr>

                    {% endfor %}

                    </table>

                {% else %}

                    <p>NO ACCESS RECORDS FOUND</p>

                {% endif %}
            </div>

        </body>

    {% endblock %}

</html>
